POSTGRES_CONTAINER_NAME=ds-telemetry-postgres
POSTGRES_HOST_PORT=55432
POSTGRES_DB=telemetry
POSTGRES_USER=telematics
POSTGRES_PASSWORD=telematics
POSTGRES_VOLUME_NAME=ds-telemetry-postgres-data
SHARED_NETWORK_NAME=ds-shared
KAFKA_CONTAINER_NAME=kafka-shared
KAFKA_HOST_PORT=9092
KAFKA_UI_CONTAINER_NAME=kafka-ui-shared
KAFKA_UI_HOST_PORT=8080
ADMINER_CONTAINER_NAME=adminer-shared
ADMINER_HOST_PORT=8081
ADMINER_DEFAULT_SERVER=ds-telemetry-postgres
PORTAINER_CONTAINER_NAME=portainer-shared
PORTAINER_HTTP_PORT=9000
PORTAINER_HTTPS_PORT=9443
PORTAINER_VOLUME_NAME=global-portainer-data
