PORTAL_HUB_CONTAINER_NAME=telemetry-portal-hub
PORTAL_HUB_HOST_PORT=9500
PRODUCER_CONTAINER_NAME=telemetry-producer
PRODUCER_HOST_PORT=9501
CONSUMER_CONTAINER_NAME=telemetry-consumer
CONSUMER_HOST_PORT=9502
ALERT_CONSUMER_CONTAINER_NAME=telemetry-alert-consumer
ALERT_CONSUMER_HOST_PORT=9503
STORAGE_CONSUMER_CONTAINER_NAME=telemetry-storage-consumer
STORAGE_CONSUMER_HOST_PORT=9504
DLQ_VIEWER_CONTAINER_NAME=telemetry-dlq-viewer
DLQ_VIEWER_HOST_PORT=9505
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
